form{
  text-align: center;
  transition: opacity 0.6s ease-out;
}

img{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show{
  display: block;
}

.fade-out{
  opacity: 0;
}