<html>
    <head>
        <link rel="stylesheet" href="../static/css/onionform.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/iframe.css"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Benne&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&display=swap">
                <link rel="stylesheet" href="static/css/owl.carousel.min.css">
                <link rel="stylesheet" href="static/fonts/icomoon/style.css">

        <script src="../static/js/jquery-1.11.2.js"></script>
        <!--  <script src="../static/js/swap.js"></script>-->
    </head>
    <body>
 <nav class="navbar navbar-expand-md navbar-dark"> 
                <div class="container"> 
                    <!-- Brand -->                     
                    <a class="navbar-brand mr-auto" href="#"><img src="../static/img//logo_xmrswap_128.png" alt="XMRSWAP"></a> 
                    <!-- Toggler/collapsibe Button -->                     
                     
                    <!-- Navbar links -->                     
                    <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
                        <ul class="navbar-nav ml-auto"> 
                                                    <li class="nav-item"> 
                                <a class="nav-link" href="/swapform">Swap</a> 
                            </li>                             
                        
                            <li class="nav-item"> 
                                <a class="nav-link" href="/withdrawform">Withdraw</a> 
                            </li>                             
                            <li class="nav-item"> 
                                <a class="nav-link" href="/listsellerform">Sellers</a> 
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link" href="/history">History</a> 
                            </li>                             
                                                        
                        </ul>                         
                     
                    </div>                     
                </div>                 
            </nav>
        <div class="container">
            <h1>Find Rendezvous Sellers</h1>
            <h2>Onion3/Tor Rendezvous Addresses Suppored!</h2>
            <form action="http://localhost:3333/listsellers" id="join-us" method="post">
                <div class="fields">
                    <span> <input placeholder="Rendezvous Multiaddress" type="text" name="multiaddress" id="multiaddress"/><p style="color: white; font-size: 12px; font-family: 'Allerta', sans-serif;">Full Multiaddress of Rendezvous endpoint"</p> </span>
                    <br/>
                    <!-- 
                    <div id="loaderImg"><img src="../static/img/loading-gif.gif" alt="" width="75px" height="75px"/></div>
                    <div id="connected"><img src="../static/img/connected.png" alt="" width="128px" height="128px"/></div>
                    <div id="connectedFail"><img src="../static/img/connected_fail.png" alt="" width="128px" height="128px"/></div>
                     -->

                </div>                
                <div class="submit">
    				<!--  <input class="submit" type = "submit" value = "Submit" />-->
                    <input class="submit" value="Submit" type="submit" id="btnSignUp"/>
                </div><br>
                <p>Click only once and wait for the next screen to appear.</p>
            </form>
             <script>
			        window.setInterval("reloadIFrame();", 180000);
			        function reloadIFrame() {
			         document.getElementById("GlargVilardi").src=GlargVilardi.src;
			        }
			</script>
			<br><br><br><br><br>
			
			    
            <div id="GlargVilardi" style="--aspect-ratio: 16/9;">
	            <iframe src="https://providers.xmrswap.me/getProviders" frameborder="0">
				</iframe>
            </div>
        </div><br><br><br><br>
        <div class="footer"><p>swapfe v0.0.2</p></div>
		</body>
    

