<html>
    <head>
        <link rel="stylesheet" href="../static/css/onionform.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/iframe.css"> 
        <link rel="stylesheet" href="../static/css/loader.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Benne&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&display=swap">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
 <nav class="navbar navbar-expand-md navbar-dark"> 
                <div class="container"> 
                    <!-- Brand -->                     
                    <a class="navbar-brand mr-auto" href="#"><img src="../static/img//logo_xmrswap_128.png" alt="XMRSWAP"></a> 
                    <!-- Toggler/collapsibe Button -->                     
                     
                    <!-- Navbar links -->                     
                    <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
                        <ul class="navbar-nav ml-auto"> 
                            <li class="nav-item"> 
                                <a class="nav-link" href="/swapform">Swap</a> 
                            </li>                             
                            <li class="nav-item"> 
                                <a class="nav-link" href="/resume">Resume</a> 
                            </li>                        
                            <li class="nav-item"> 
                                <a class="nav-link" href="/withdrawform">Withdraw</a> 
                            </li>                            
                            <li class="nav-item"> 
                                <a class="nav-link" href="/listsellerform">Sellers</a> 
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link" href="/history">History</a> 
                            </li>                             
                                                        
                        </ul>                         
                     
                    </div>                     
                </div>                 
            </nav>
        <div class="container">

            <h1>Start a Swap!</h1>
            <h2>Onion3/Tor Addresses Suppored!</h2>
            <form action="" id="join-us" method="post">
                <div class="fields">
                    <span> <input placeholder="Multiaddress" type="text" name="multiaddress" id="multiaddress"/><p style="color: white; font-size: 12px; font-family: 'Allerta', sans-serif;">Full Multiaddress including "/p2p/xxxxxxxxxx..."</p> </span>
                    <br/>
                    <!-- 
                    <div id="loaderImg"><img src="../static/img/loading-gif.gif" alt="" width="75px" height="75px"/></div>
                    <div id="connected"><img src="../static/img/connected.png" alt="" width="128px" height="128px"/></div>
                    <div id="connectedFail"><img src="../static/img/connected_fail.png" alt="" width="128px" height="128px"/></div>
                     -->
                    <span> <input placeholder="BTC Change Address" type="text" name="btc" id="btc"/><p style="color: white; font-size: 12px; font-family: 'Allerta', sans-serif;">Your bitcoin change address in case of a refund.</p></span><br/>
                    <span> <input placeholder="XMR Receive Address" type="text" name="xmr" id="xmr"/><p style="color: white; font-size: 12px; font-family: 'Allerta', sans-serif;">Monero receive address.</p></span>
                </div>
				<!-- Page Preloder -->
                     
                <div class="submit">
    				<!--  <input class="submit" type = "submit" value = "Submit" />-->
                    <input class="submit" value="Submit" type="submit" id="btnSignUp"/>
                </div><br>
                <p>Click only once and wait for the next screen to appear.</p>
            </form>
            <img src="https://www.dariusland.com/images/load.gif" id="spinner" class="hide">
			<script type="text/javascript">
			    
			</script>
			<script type="text/javascript">
			const form = document.getElementById('join-us');
			const spinner = document.getElementById('spinner');

			form.addEventListener('submit', (e) => {
			  form.classList.toggle('fade-out');
			  spinner.classList.toggle('show');
			  
			});
			var ip = location.host;
	      	form.action = 'http://' + ip + '/swap';
			</script>
			<br><br><br><br><br>
			
			    
            <div id="GlargVilardi" style="--aspect-ratio: 16/9;">
	            <iframe src="https://providers.xmrswap.me/getProviders" frameborder="0">
				</iframe>
				             <script>
			        window.setInterval("reloadIFrame();", 180000);
			        function reloadIFrame() {
			         document.getElementById("GlargVilardi").src=GlargVilardi.src;
			        }
			</script>
            </div>
            </div>
<br><br><br><br>
        <div class="footer"><p>swapfe v0.0.3</p></div>
    

